<div class="flex justify-center items-center h-screen">
  <div class="w-[520px] shadow p-12">
    <div class="font-bold text-[32px]">Đăng nhập</div>
    <form [formGroup]="form"
          class="flex flex-col gap-y-6 mt-[20px]">
      <span class="p-float-label">
        <input pInputText
               formControlName="email"
               type="email"
               class="w-full p-inputtext-lg"/>
        <label>Email</label>
      </span>
      <span class="p-float-label">
        <p-password [feedback]="false"
                    formControlName="password"
                    styleClass="w-full"
                    (keydown.enter)="onSubmit()"
                    [toggleMask]="true"
                    inputStyleClass="w-full p-inputtext-lg"></p-password>
        <label>Mật khẩu</label>
      </span>
      <p-button label="Đăng nhập"
                (onClick)="onSubmit()"
                size="large"></p-button>
    </form>
  </div>
</div>

<pre class="fixed top-0 left-0">{{form.value | json}}</pre>
